<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" name="loggingConfig"
	monitorInterval="30">
	<Properties>
		<Property name="logDir">${sys:catalina.base}/logs</Property>
		<Property name="fileName">healthcare-program-api.log</Property>
	</Properties>
	<Appenders>
		<RollingRandomAccessFile name="fileLogger"
			fileName="${logDir}/${fileName}" append="true"
			filePattern="${logDir}/$${date:yyyy-MM}/${fileName}-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<pattern>%d | level=%-5p| thread=%t | class=%c |%X{healthcare_tidFormat}%X{healthcare_userIdFormat}%X{healthcare_dependentUserIdFormat} %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>

		<Console name="console" target="SYSTEM_OUT">
					<PatternLayout>
				<pattern>%d | level=%-5p| thread=%t | class=%c |%X{healthcare_tidFormat}%X{healthcare_userIdFormat}%X{healthcare_dependentUserIdFormat} %m%n</pattern>
			</PatternLayout>
		</Console>

	</Appenders>
	<Loggers>
		<AsyncRoot level="INFO" additivity="false">
			<AppenderRef ref="fileLogger" />
			<AppenderRef ref="console" />
		</AsyncRoot>
		
	</Loggers>
</Configuration>
